body {
  font-family: sans-serif;
  padding: 5px;
}

header h1 {
  margin-bottom: 3px;
  margin-top: 0;

}


header hr {
  margin-top: 0;
  margin-bottom: 0;
}
/* a la clase biography le damos atributos */
.biography {
  width: 75%;
  display: inline-block;
  font-size: 14px;
  line-height: 1.6;
}

/* a la clase sumary le damos atributos */
.sumary {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-top: 15px;
}

.sumary-table {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa ;
  padding: 1px;
  font-size: 14px;
}

/* Selectores Especificidad */
.sumary-table thead th {
  background-color: #B0C4DE;
  padding-top: 3px ;
  padding-bottom: 3px;
  font-size: 16px;
}

.sumary-table tbody tr:first-child{
  text-align: center;
}

.sumary-table tbody th {
  text-align: left;
}
